.header {
  background-color: $primary;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  @media #{$tablet}{
    height: 90px;
    flex-direction: row;
  }

}



.header a {
  text-decoration: none;
}

.header-logo {
  font-weight: bold;
  letter-spacing: 8px;
  color: $accent-dark;
}

.header-form{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;

  @media #{$tablet}{
    margin-bottom: 0;
  }
}

.header-searchbar input {
  padding: 15px 40px;
  margin: 0;
  border: 0;
  width: 40vw;
  border-radius: 30px;
  outline: none;
  color: $accent-dark;
  font-size: 15px;
  font-weight: bold;

  @media #{$tablet}{
    width: 15vw;
  }
}

.header-button{
  background: none;
  outline: none;
  border: none;
  color: $accent-dark;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  position: relative;

  &:before{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    transition: 0.3s;
  }

  &:hover:before{
    width: 75%;
  }
}


.header-banner {
  width: 100%;
}


