
.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
//
//.row {
//  margin-bottom: 20px;
//  display: flex;
//  flex-wrap: wrap;
//}
//
//@for $i from 1 through 12 {
//  .col-#{$i} {
//    //MOBILE
//    width: 100%;
//    //padding: 10px;
//    //TABLET +
//    @media screen and (min-width: 768px) {
//      width: (100%/12) * $i;
//      //padding: 0 10px;
//    }
//  }
//}
