$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 1025px)";

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  box-sizing: border-box;

  @media #{$tablet} {
    overflow: auto;
  }
}