.podcast-info {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  @media #{$tablet} {
    flex-direction: row;
  }

  @media #{$desktop} {
    padding-right: 20em;
  }
}

.podcast-img {
  margin: 0 auto;
}
.podcast-img img {
  width: 90vw;
  box-shadow: 0 0 5px lightgrey;

  @media #{$tablet} {
    width: 300px;
  }
  @media #{$desktop} {
  }
}

.podcast-info-content {
  margin: 20px;
  display: flex;
  flex-direction: column;

  a {
    color: $accent-dark;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  @media #{$tablet} {
    margin-left: 2em;
  }
}

.podcast-info-title {
  color: $accent-dark;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.podcast-info-author {
  text-transform: uppercase;
  color: $neutral;
}

.podcast-info-link {
  svg path {
    fill: $accent-dark;
  }
  a {
    color: $accent-dark;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}