.podcast-heading {
  color: $accent-dark;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 20px;
  span {
    font-weight: lighter;
  }

  @media #{$tablet} {
    margin-top: 2em;
  }
}

// EPISODES
.podcast-episodes-container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 15px;

  @media #{$tablet} {
    width: 70%;
  }
}

.podcast-episode-title {
  margin-top: 2em;
  color: $accent-dark;
  position: relative;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $primary;
  }

  &:before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $primary;
    width: 100%;
    top: -15px;
    transition: 0.3s;
  }

  &:after {
    content: url("../src/img/play.png");
    position: absolute;
    transform: scale(0.3);
    right: 0;
    top: -35px;
    opacity: 0;
    transition: 0.3s;
  }
  &:hover:after {
    opacity: 1;
  }
}

.podcast-episode-descr {
  a {
    color: $dark;
    text-decoration-color: $accent-dark;
    outline: none;
  }
  strong {
    font-weight: normal;
  }
  em {
    font-style: normal;
  }
}
