.home-container{
  display: flex;
  justify-content: center;
  text-transform: uppercase;

}

.home-header{
  margin-top: 1em;
  color: $accent-dark;
  span{
    font-weight: lighter;
  }
}

/// Staff picks


.home-sp-heading{
  //text-align: center;
  color: $accent-dark;
  margin-left: 15px;
  //text-transform: uppercase;
  //letter-spacing: 2px;
  font-weight: lighter;
}

.home-sp-container{
  display: flex;
  flex-wrap: wrap;

}

.home-sp-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  @media #{$tablet}{
    width: 20%;
  }
}

.home-sp-img{
  width: 90%;
  margin: 0 5%;
  box-shadow: 0 0 5px lightgrey;
}

.home-sp-title{
  color: $accent-dark;
  text-align: center;
}