.podcast-info {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  padding-right: 20em;
}

.podcast-player {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
}

.podcast-img{
  & img {
    width: 300px;
  }
}



.podcast-info-content{
  margin-left: 2em;
display: flex;
  flex-direction: column;
}

.podcast-info-title{
  color: $accent-dark;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.podcast-info-author{
  text-transform: uppercase;
  color: $neutral;
}

.podcast-info-descr{

}

.podcast-heading{
  margin-top: 2em;
  color: $accent-dark;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.podcast-episodes-container{
  width: 70%;
}

.podcast-episode-title{
  margin-top: 2em;
  color: $accent-dark
}

.podcast-episode-descr{
  m: 0;
}
